html {
    font-family: 'Roboto', sans-serif;
}

h3 {
    d
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 350px;
}

.header {
    background-color: #e8e0df;
    padding: 12px;
    margin-bottom: 6px;
}

.nav {
    text-align: center;
    background-color: #e8e0df;
    margin-bottom: 16px;
    height: 32px;
    /**/
    position: relative;
}

.main .nav {
    /* display: flex;
    justify-self: center;
    align-items: center; */
    padding-top: 6px;
}

p {
    margin-bottom: 5px;
}

a {
    padding: 8px;
}

.anh {
    width: 60px;
    height: 40px;
    display: inline-block;
    float:left;
}

.main {
    /* border: #e8e0df solid 3px; */
    height: 894px;

}

aside {
    float: left;
    margin-right: 5px;
    border: solid 16px #e8e0df;
}

/* article {
    float: left;
} */

pre {
    display: inline-block;
}

.midcon p {
    margin: 10px;
}

h3,p {
    color: grey;
}

.clear {
    clear: both;
}

.footer {
    background-color: #e8e0df;
    text-align: center;
    height: 40px;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mid {
    width: 100%;
    height: 982px;
}